*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial;
  background:#0f172a;
  color:white;
}


/* HEADER */

header{
  position:fixed;
  top:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 60px;
  background:#020617;
  z-index:1000;
}

.logo{
  font-size:22px;
}

nav a{
  margin-left:30px;
  cursor:pointer;
  font-size:18px;
}

nav a.active{
  color:cyan;
}


/* HERO */

.hero{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero-content{
  margin-top:60px;
}


/* PROFILE IMAGE */

.profile-img{
  width:220px;
  height:220px;
  object-fit:cover;
  border-radius:50%;
  border:4px solid cyan;
  box-shadow:0 0 30px cyan;
  margin-bottom:20px;
}


/* SECTIONS */

.content{
  display:none;
  min-height:100vh;
  padding-top:140px;
  text-align:center;
}


/* BACK BUTTON */

.back{
  position:absolute;
  left:40px;
  top:100px;
  padding:8px 15px;
  cursor:pointer;
}


/* PROJECT CARDS */

.project-container{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:20px;
  margin-top:40px;
}

.card{
  width:260px;
  background:#020617;
  padding:20px;
  border-radius:15px;
}

.card a{
  color:cyan;
  text-decoration:none;
}

.about-container{
  max-width:900px;
  margin:auto;
  padding:20px;
}

.about-intro{
  font-size:18px;
  margin-bottom:30px;
  line-height:1.6;
}

.highlight{
  color:cyan;
  font-weight:bold;
}

.about-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.about-box{
  background:#020617;
  padding:20px;
  border-radius:15px;
  transition:0.3s;
}

.about-box:hover{
  transform:translateY(-8px);
}

.resume-btn{
  display:inline-block;
  margin-top:30px;
  padding:12px 25px;
  background:cyan;
  color:black;
  text-decoration:none;
  border-radius:8px;
  font-weight:bold;
}